<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 131.3 kB/s eta 0:00:46
     ---------------------------------------- 0.0/6.0 MB 179.6 kB/s eta 0:00:33
     ---------------------------------------- 0.1/6.0 MB 204.8 kB/s eta 0:00:29
      --------------------------------------- 0.1/6.0 MB 291.5 kB/s eta 0:00:21
      --------------------------------------- 0.1/6.0 MB 343.4 kB/s eta 0:00:18
     - -------------------------------------- 0.2/6.0 MB 382.3 kB/s eta 0:00:16
     - -------------------------------------- 0.3/6.0 MB 542.5 kB/s eta 0:00:11
     - -------------------------------------- 0.3/6.0 MB 571.2 kB/s eta 0:00:10
     - -------------------------------------- 0.3/6.0 MB 571.2 kB/s eta 0:00:10
     - -------------------------------------- 0.3/6.0 MB 571.2 kB/s eta 0:00:10
     -- ------------------------------------- 0.3/6.0 MB 491.5 kB/s eta 0:00:12
     -- ------------------------------------- 0.4/6.0 MB 534.1 kB/s eta 0:00:11
     -- ------------------------------------- 0.4/6.0 MB 570.5 kB/s eta 0:00:10
     --- ------------------------------------ 0.5/6.0 MB 629.3 kB/s eta 0:00:09
     --- ------------------------------------ 0.6/6.0 MB 668.4 kB/s eta 0:00:09
     ---- ----------------------------------- 0.6/6.0 MB 703.3 kB/s eta 0:00:08
     ---- ----------------------------------- 0.6/6.0 MB 700.8 kB/s eta 0:00:08
     ---- ----------------------------------- 0.6/6.0 MB 700.8 kB/s eta 0:00:08
     ---- ----------------------------------- 0.6/6.0 MB 700.8 kB/s eta 0:00:08
     ---- ----------------------------------- 0.6/6.0 MB 700.8 kB/s eta 0:00:08
     ----- ---------------------------------- 0.8/6.0 MB 768.2 kB/s eta 0:00:07
     ----- ---------------------------------- 0.9/6.0 MB 766.4 kB/s eta 0:00:07
     ------ --------------------------------- 0.9/6.0 MB 759.2 kB/s eta 0:00:07
     ------ --------------------------------- 1.0/6.0 MB 771.7 kB/s eta 0:00:07
     ------ --------------------------------- 1.0/6.0 MB 774.3 kB/s eta 0:00:07
     ------- -------------------------------- 1.1/6.0 MB 801.9 kB/s eta 0:00:07
     ------- -------------------------------- 1.1/6.0 MB 773.5 kB/s eta 0:00:07
     ------- -------------------------------- 1.2/6.0 MB 805.2 kB/s eta 0:00:06
     -------- ------------------------------- 1.3/6.0 MB 851.0 kB/s eta 0:00:06
     -------- ------------------------------- 1.3/6.0 MB 878.7 kB/s eta 0:00:06
     --------- ------------------------------ 1.5/6.0 MB 915.0 kB/s eta 0:00:05
     ---------- ----------------------------- 1.5/6.0 MB 944.9 kB/s eta 0:00:05
     ---------- ----------------------------- 1.6/6.0 MB 949.9 kB/s eta 0:00:05
     ----------- ---------------------------- 1.7/6.0 MB 998.1 kB/s eta 0:00:05
     ----------- ---------------------------- 1.8/6.0 MB 1.0 MB/s eta 0:00:05
     ------------ --------------------------- 1.9/6.0 MB 1.0 MB/s eta 0:00:04
     ------------ --------------------------- 1.9/6.0 MB 1.0 MB/s eta 0:00:04
     ------------- -------------------------- 2.0/6.0 MB 1.1 MB/s eta 0:00:04
     ------------- -------------------------- 2.1/6.0 MB 1.1 MB/s eta 0:00:04
     ------------- -------------------------- 2.1/6.0 MB 1.1 MB/s eta 0:00:04
     -------------- ------------------------- 2.1/6.0 MB 1.0 MB/s eta 0:00:04
     -------------- ------------------------- 2.1/6.0 MB 1.0 MB/s eta 0:00:04
     -------------- ------------------------- 2.2/6.0 MB 1.0 MB/s eta 0:00:04
     --------------- ------------------------ 2.2/6.0 MB 1.0 MB/s eta 0:00:04
     --------------- ------------------------ 2.4/6.0 MB 1.1 MB/s eta 0:00:04
     ---------------- ----------------------- 2.4/6.0 MB 1.1 MB/s eta 0:00:04
     ----------------- ---------------------- 2.6/6.0 MB 1.1 MB/s eta 0:00:04
     ----------------- ---------------------- 2.7/6.0 MB 1.1 MB/s eta 0:00:03
     ------------------ --------------------- 2.8/6.0 MB 1.2 MB/s eta 0:00:03
     ------------------- -------------------- 2.9/6.0 MB 1.2 MB/s eta 0:00:03
     -------------------- ------------------- 3.0/6.0 MB 1.2 MB/s eta 0:00:03
     -------------------- ------------------- 3.1/6.0 MB 1.2 MB/s eta 0:00:03
     --------------------- ------------------ 3.3/6.0 MB 1.2 MB/s eta 0:00:03
     ---------------------- ----------------- 3.4/6.0 MB 1.3 MB/s eta 0:00:02
     ----------------------- ---------------- 3.6/6.0 MB 1.3 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 1.4 MB/s eta 0:00:02
     ------------------------- -------------- 3.9/6.0 MB 1.4 MB/s eta 0:00:02
     --------------------------- ------------ 4.0/6.0 MB 1.4 MB/s eta 0:00:02
     --------------------------- ------------ 4.1/6.0 MB 1.4 MB/s eta 0:00:02
     ----------------------------- ---------- 4.3/6.0 MB 1.5 MB/s eta 0:00:02
     ----------------------------- ---------- 4.4/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------------------ --------- 4.5/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------ --------- 4.6/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------- -------- 4.7/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------- -------- 4.8/6.0 MB 1.5 MB/s eta 0:00:01
     -------------------------------- ------- 4.8/6.0 MB 1.5 MB/s eta 0:00:01
     -------------------------------- ------- 4.9/6.0 MB 1.5 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 1.5 MB/s eta 0:00:01
     ---------------------------------- ----- 5.1/6.0 MB 1.5 MB/s eta 0:00:01
     ----------------------------------- ---- 5.2/6.0 MB 1.5 MB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 1.5 MB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 1.5 MB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl size=1142949 sha256=7e2b1fb6c1b44c8317563d5acc86d6217f860ad99fb854dc3fd3ab4347968112
  Stored in directory: c:\users\mustafa yassin\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [17]:
#Please uncomment and execute the code below if you are working locally.

!pip install ipython-sql

Collecting ipython-sql
  Obtaining dependency information for ipython-sql from https://files.pythonhosted.org/packages/30/8f/9e50fa53ffc371483f9d1b90c1175b706d28a2e978e90a8894035af01905/ipython_sql-0.5.0-py3-none-any.whl.metadata
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/3d/c4/a32f4bf44faf95accbbd5d7864ddef9e289749a8efbc3adaad4a4671779a/prettytable-3.10.0-py3-none-any.whl.metadata
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython-sql) (8.15.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/74/9a/eec023807ae78e83342567303916b34a348d9d40703e7cef5dfb1e3635b6/SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/43/5d/a0fdd88fd486b39ae1fd1a75ff75b4e29a0df96c0304d462fd407b82efe0/sqlparse-0.5.0-py3-none-any.whl.metadata
  Downloading sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\mustafa yassin\downloads\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 330.3 kB/s eta 0:00:07
    --------------------------------------- 0.0/2.1 MB 330.3 kB/s eta 0:00:07
   - -------------------------------------- 0.1/2.1 MB 328.6 kB/s eta 0:00:07
   - -------------------------------------- 0.1/2.1 MB 328.6 kB/s eta 0:00:07
   - -------------------------------------- 0.1/2.1 MB 328.6 kB/s eta 0:00:07
   -- ------------------------------------- 0.2/2.1 MB 418.0 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/2.1 MB 513.4 kB/s eta 0:00:04
   ---- ----------------------------------- 0.2/2.1 MB 515.5 kB/s eta 0:00:04
   ------ --------------------------------- 0.4/2.1 MB 719.3 kB/s eta 0:00:03
   -------- ------------------------------- 0.5/2.1 MB 829.2 kB/s eta 0:00:02
   ---------- ----------------------------- 0.5/2.1 MB 947.5 kB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.1 MB 1.1 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 1.2 MB/s eta 0:00:02
   --------------- ------------------------ 0.8/2.1 MB 1.1 MB/s eta 0:00:02
   ----------------- ---------------------- 0.9/2.1 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 1.3 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 1.1 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.2 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.4 MB/s eta 0:00:00
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.0-py3-none-any.whl (43 kB)
   ---------------------------------------- 0.0/44.0 kB ? eta -:--:--
   ---------------------------------------- 44.0/44.0 kB 2.1 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.30 sqlparse-0.5.0

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [3]:
%sql sqlite:///my_data1.db

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [5]:
%sql create table  SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [6]:
%sql Select DISTINCT (Landing_Outcome) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [7]:
%sql Select DISTINCT(Launch_Site) from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [11]:
%sql Select * from SPACEXTABLE WHERE Launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [28]:
%sql Select SUM(PAYLOAD_MASS__KG_) from SPACEXTABLE WHERE Customer like 'NASA%'

 * sqlite:///my_data1.db
Done.

[(99980,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [29]:
%sql Select AVG(PAYLOAD_MASS__KG_) from SPACEXTABLE WHERE Booster_Version like 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [31]:
%sql Select MIN(Date) from SPACEXTABLE WHERE Landing_Outcome like 'Success%'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

In [32]:
%sql Select * from SPACEXTABLE LIMIT 2

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [33]:
%sql Select Booster_Version ,PAYLOAD_MASS__KG_ from SPACEXTABLE WHERE Landing_Outcome like 'Success (drone ship)' AND PAYLOAD_MASS__KG_ >4000 AND PAYLOAD_MASS__KG_ <6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 FT  B1021.2', 5300),
 ('F9 FT  B1031.2', 5200)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [34]:
%sql SELECT Mission_Outcome, COUNT(Mission_Outcome) AS counting FROM SPACEXTABLE  GROUP BY Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [35]:
%sql Select Booster_Version from SPACEXTABLE where PAYLOAD_MASS__KG_ = (select  MAX (PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [19]:
%sql Select substr(Date, 6,2) AS Month,substr(Date,0,5)="2015" AS Year,Landing_Outcome,Booster_Version ,Launch_Site from SPACEXTABLE WHERE Landing_Outcome like 'F%'

 * sqlite:///my_data1.db
Done.

[('06', 0, 'Failure (parachute)', 'F9 v1.0  B0003', 'CCAFS LC-40'),
 ('12', 0, 'Failure (parachute)', 'F9 v1.0  B0004', 'CCAFS LC-40'),
 ('01', 0, 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 0, 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('01', 0, 'Failure (drone ship)', 'F9 v1.1 B1017', 'VAFB SLC-4E'),
 ('03', 0, 'Failure (drone ship)', 'F9 FT B1020', 'CCAFS LC-40'),
 ('06', 0, 'Failure (drone ship)', 'F9 FT B1024', 'CCAFS LC-40'),
 ('12', 0, 'Failure', 'F9 B5B1050', 'CCAFS SLC-40'),
 ('02', 0, 'Failure', 'F9 B5 B1056.4', 'CCAFS SLC-40'),
 ('03', 0, 'Failure', 'F9 B5 B1048.5', 'KSC LC-39A')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [37]:
%sql Select COUNT(Landing_Outcome) AS Landing_Outcome_Counts ,Date from SPACEXTABLE WHERE DATE BETWEEN 2010 AND 2018 GROUP BY Landing_Outcome order by Landing_Outcome_Counts desc

 * sqlite:///my_data1.db
Done.

[(12, '2016-04-08'),
 (12, '2012-05-22'),
 (8, '2015-12-22'),
 (5, '2015-01-10'),
 (4, '2014-04-18'),
 (2, '2013-09-29'),
 (2, '2010-06-04'),
 (1, '2015-06-28')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>